/* CSS Variables */
:root {
    /* --world-width: 1280px;
    --world-height: 720px; */
    --world-width:  100vw;
    --world-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(36 , 36, 36);
    color:white;
}

.world {
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    background-color: black;
    /* width: var(--world-width); */
    /* height: var(--world-height); */
    width: var(--world-width);
    width: 100%;
    /* Fixes issue with width overflowing. */
    max-width: 100%;
    height: var(--world-height);
}
  
#spaceship {
    /* To be unset by game when it is actually ready to show it. */
    /* display: none; */
    fill: orange;
    stroke: rgb(255, 217, 0);
    stroke-width: 2px;
}